.songs{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    color:white;
}

.song {
    width: calc(300px + 8%);
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(26, 34, 38, 0.8);
    /* background-image: url('music2.jpg'); */
}
.song img {
    width: 100px;
    height: 140px;
    object-fit: cover;  
    object-position: center center; 
    border-radius: 8px; 
  }

.project-content {
    max-height: 3.6em; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    color:rgb(255, 255, 255);
}
.texto p{
    font-size:10px;
   
}


.card-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(26, 34, 38, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    margin-right: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    width: 200px; /* Set the width of the input field */
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: -30px;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
}

.search-icon {
    width: 50px; /* Increase the size of the search icon */
    height: 50px;
    margin-right: 8px;
}

.search-button img {
    vertical-align: middle;
}

.logInfo p{
font-size: 12px;
color:red;
}

