
body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(26, 34, 38);
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    color: #fff; /* Color del texto */
    text-decoration: none;
}

/* Ajusta los estilos de los enlaces cuando se pasan por encima */
nav ul li:hover {
    text-decoration: underline;
}